@charset 'utf-8';

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
  margin: auto;
}

p {
  line-height: 1.6;
  /* font-size: 2rem; */
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1em;
}
/* position을 줄 떄는 width를 따로 잡아줘야 적용됨 / position 잡아준 이유는 scrollHeight에서 nav를 제외하기 위함 */

.global-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 0 1em;
}

.local-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.local-nav-link .product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.local-nav-link a:not(.product-name) {
  margin-left: 2em;
  font-size: 0.8rem;
}

.scroll-section {
  border: 3px solid red;
}

#scroll-section-0 h1 {
  padding-top: 50vh;
  text-align: center;
  font-size: 4rem;
}

.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
  /* background-color: rgb(0, 0, 0,0.3); */
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  font-size: 3rem;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.description {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.description strong {
  float: left;
  margin-right: 0.3em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

.desc-message {
  width: 50%;
  font-weight: bold;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  /* font-size: 3rem; */
  color: rgb(29, 29, 31);
}

.canvas-caption {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
  /* text-align: center; */
}

.footer {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: whitesmoke;
}

.sticky-elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

/* 위 코드의 의미는 JS에서 #show-scene-0 에 해당하면 오른쪽 
#scroll-section-0 .sticky-elem, 이 두가지를 보여준다는 의미.  */

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }

  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }

  .mid-message strong {
    font-size: 4vw;
  }
}
